{% extends 'base.html' %}
{% load static %}

{% block content %}


<div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4" style="color:#4B5F83;">Gerenciar Eventos</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="#" style="text-decoration:none;">Eventos</a></li>
                            <li class="breadcrumb-item active">Avaliações</li>
                        </ol>

                            <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    {% for evento in evento %}
                    <img src="/media/{{evento.logo}}" alt="Admin" class="rounded-circle" width="150" height="140">
                    {% endfor %}
                    <div class="mt-3">
                    <!-- <h4>Senhor Freitas</h4> -->

                      <p class="text-secondary mb-1">
                        {% for evento in evento %}
                        Evento: {{evento.nome}}
                        {% endfor %}
                      </p>
                      <hr>
                      <p class="text-muted font-size-sm">{% for evento in evento %}
                      Modalidade: {{evento.modalidade}}
                      {% endfor %}</p>

                      <hr>
                      <p class="text-secondary mb-1">
                      {% for evento in evento %}
                      {{evento.get_data_evento}}
                      {% endfor %}
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mt-3">
              </div>
            </div>



              <div class="col-sm-8 mb-3">
                  <div class="card h-auto">
                    <div class="card-body">
                         <h6 class="d-flex align-items-center mb-3">
                             Criando Sessão
                         </h6>
                      {% if msg %}
                      <div class="mt-2">
                        <div class="btn-success text-white col-4 text-center">{{msg}}</div>
                      </div>
                      {% endif %}

                      {% if msg2 %}
                      <div class="mt-2">
                        <div class="btn-danger text-white col-3 text-center">{{msg2}}</div>
                      </div>
                      {% endif %}

                      {% for evento in evento %}
                      <form method="POST" action="/criarsessao/?id={{evento.id}}">{% csrf_token %}
                      {% endfor %}
                      <div class="mt-2 align-items-center">
                        <input class="form-control col-10" name="nome" type="text" placeholder="Nome da Sessão" required>
                      </div>
                      <div class="mt-2">
                        <input class="form-control col-10" name="descricao" type="text" placeholder="Descrição" required>
                      </div>
                      <div class="mt-2">
                       <select class="form-control col-10" name="lider" required>
                         <option value="Selecione o Líder..." selected>Selecione o Líder...</option>
                         {% for candidato in candidato %}
                         <option value="{{candidato.cpf}}" required>{{candidato.nome}} ({{candidato.instituicao}})</option>
                         {% endfor %}
                       </select>
                      </div>
                      <div class="mt-2">
                        <input class="form-control col-8" name="tema"
                               placeholder="Informe qual tema desta sessão">
                      </div>
                      <div class="mt-3" align="right">
                        <input type="submit" class="btn btn-primary" value="Criar sessão">
                      </div>

                      </form>

                    </div>
                  </div>
                </div>

            <div class="col-sm-4 mb-3">
          </div>
    </div></div>



                        <div style="height: 100vh"></div>

                </main>

                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Desenvolvido por G&L Plataformas</div>
                            <div>
                                <a href="#">Politica de Privacidade</a>
                                &middot;
                                <a href="#">Termos e Condições</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

{% endblock %}

















<!--

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Criando sessão - G&L Plataforma de Eventos</title>
   {% include 'header.html' %}
</head>
<body>


<div class="container">
    <div class="main-body">

          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/meuperfil/">Meu Perfil</a></li>
              <li class="breadcrumb-item"><a href="/home/">Home</a></li>
            </ol>
          </nav>


          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    {% for evento in evento %}
                    <img src="/media/{{evento.logo}}" alt="Admin" class="rounded-circle" width="150" height="140">
                    {% endfor %}
                    <div class="mt-3">
                     <h4>Senhor Freitas</h4> -->
<!--
                      <p class="text-secondary mb-1">
                        {% for evento in evento %}
                        Evento: {{evento.nome}}
                        {% endfor %}
                      </p>
                      <hr>
                      <p class="text-muted font-size-sm">{% for evento in evento %}
                      Modalidade: {{evento.modalidade}}
                      {% endfor %}</p>
                       <button class="btn btn-primary">?</button>
                      <hr>
                      <p class="text-secondary mb-1">
                      {% for evento in evento %}
                      {{evento.get_data_evento}}
                      {% endfor %}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0 ">{% for evento in evento %}
                    <a href="/editarevento/?id={{evento.id}}" style="text-decoration:nome;">
                      Editar Evento
                    </a>
                    {% endfor %}
                    </h6>

                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Submissões</h6>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Premiações</h6>

                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Certificados</h6>

                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Avaliações</h6>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                   <a href="/home/?id=evento" style="text-decoration:none;"><h6 class="mb-0">Eventos</h6></a>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Anais</h6>
                  </li>
                </ul>
              </div>
            </div>



              <div class="col-sm-8 mb-3">
                  <div class="card h-auto">
                    <div class="card-body">


                         <h6 class="d-flex align-items-center mb-3">
                             Criando Sessão
                         </h6>


                      <div class="mt-2">
                        <a href="/olamundo/?id=novasubmissao"><button class="btn btn-outline-secondary">Nova submissão</button></a>
                      </div>

                      {% if msg %}
                      <div class="mt-2">
                        <div class="btn-success text-white col-4 text-center">{{msg}}</div>
                      </div>
                      {% endif %}

                      {% if msg2 %}
                      <div class="mt-2">
                        <div class="btn-danger text-white col-3 text-center">{{msg2}}</div>
                      </div>
                      {% endif %}

                      {% for evento in evento %}
                      <form method="POST" action="/criarsessao/?id={{evento.id}}">{% csrf_token %}
                      {% endfor %}
                      <div class="mt-2 align-items-center">
                        <input class="form-control col-10" name="nome" type="text" placeholder="Nome da Sessão" required>
                      </div>
                      <div class="mt-2">
                        <input class="form-control col-10" name="descricao" type="text" placeholder="Descrição" required>
                      </div>
                      <div class="mt-2">
                       <select class="form-control col-10" name="lider" required>
                         <option value="Selecione o Líder..." selected>Selecione o Líder...</option>
                         {% for candidato in candidato %}
                         <option value="{{candidato.cpf}}" required>{{candidato.nome}} ({{candidato.instituicao}})</option>
                         {% endfor %}
                       </select>
                      </div>
                      <div class="mt-2">
                        <input class="form-control col-8" name="tema"
                               placeholder="Informe qual tema desta sessão">
                      </div>
                      <div class="mt-3" align="right">
                        <input type="submit" class="btn btn-primary" value="Criar sessão">
                      </div>

                      </form>

                    </div>
                  </div>
                </div>

            <div class="col-sm-4 mb-3">
                  <div class="card h-25">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">Submissões</h6>

                      <div class="mt-2">
                        Nova submissão
                      </div>
                      <div class="mt-2">
                        Monitorar <font color="red">5</font>
                      </div>
                    </div>
                  </div>
                </div>






          </div>
    </div></div>





</body>

{% include 'footer.html' %}
</html>
-->