{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="layoutSidenav_content" style="background:#e2e8f0;">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4" style="color:#4B5F83;">Gerenciar Eventos</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="#" style="text-decoration:none;">Arquivos</a></li>
                            <li class="breadcrumb-item text-secondary">
                                <a href="#" style="text-decoration:none;">
                                <font color="black"> Eventos
                                </font>
                                </a></li>
                            <li class="breadcrumb-item active"><a href="/avaliartrabalho/" style="text-decoration:none;">
                               <font color="black"> Avaliações </font>
                            </a> </li>
                        <!--
                             <li class="breadcrumb-item active"><a href="/avaliartrabalho/" style="text-decoration:none;">
                               <font color="black"></font>
                            </a> </li> -->
                        </ol>

                                <p class="mb-0">
                                  <div class="card">

                                      <div class="card-header" style="background:#4B5F83;color:#e2e8f0;">
                                          Suas avaliações
                                      </div>

                                <div class="card-body">
                                  <table  class="table" id="datatablesSimple">
                                    <thead >
                                        <tr >
                                            <th class="text-center">
                                                <font size="2px">ID</font>
                                            </th>
                                            <th class="text-center"><font size="2px">Título</font></th>
                                            <th class="text-center"><font size="2px">Sessão</font></th>
                                            <th class="text-center"><font size="2px">Trabalho</font></th>
                                            <th class="text-center"><font size="2px">Ações</font></th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th><font size="2px">ID</font></th>
                                            <th><font size="2px">Título</font></th>
                                            <th><font size="2px">Sessão</font></th>
                                            <th><font size="2px">Trabalho</font></th>
                                            <th><font size="2px">Ações</font></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                            {% for avaliados in avaliados %}

                                             <tr class="text-center">
                                             <td><font size="2px">{{avaliados.id}}</font></td>

                                                 <td>
                                                {{avaliados.titulo}}
                                                 </td>

                                            <td>
                                                {% for sessao in sessao %}
                                                {% if sessao.id == avaliados.sessao %}
                                                <font size="2px">
                                                {{ sessao.nome }}
                                                </font></td>
                                                 {% endif %}
                                                 {% endfor %}

                                            <td>

                                                <font size="2px">
                                                <font size="2px">
                                                <a href="/media/{{avaliados.trabalho}}"
                                                style="text-decoration:none;"
                                                target="_blank" rel="noopener noreferrer">
                                                    <img height="15" width="15"
                                                            src={% static "assets/pdficon.png" %}>
                                                </a>
                                            </font>

                                                </font></td>
                                          <td>
                                              {% if avaliados.status == 'aprovado' %}
                                              <img width="15" height="15"
                                                   src={% static "assets/aprovado.png" %}>
                                              {% elif avaliados.status == 'reprovado' %}
                                              <img width="20" height="20"
                                                   src={% static "assets/reprovado.png" %}>
                                              {% elif avaliados.status == 'avaliacao' %}
                                              <img width="15" height="15"
                                                   src={% static "assets/ampulheta.png" %}>
                                              {% endif %}
                                        </td>

                                        </tr>
                                                {% endfor %}

                                    {% for avaliados2 in avaliados2 %}
                                    <tr class="text-center">
                                             <td><font size="2px">{{avaliados2.id}}</font></td>

                                                 <td>
                                                {{avaliados2.titulo}}
                                                 </td>

                                            <td>
                                                {% for sessao in sessao %}
                                                {% if sessao.id == avaliados2.sessao %}
                                                <font size="2px">
                                                {{ sessao.nome }}
                                                </font></td>
                                                 {% endif %}
                                                 {% endfor %}

                                            <td>

                                                <font size="2px">
                                                <font size="2px">
                                                <a href="/media/{{avaliados2.trabalho}}"
                                                style="text-decoration:none;"
                                                target="_blank" rel="noopener noreferrer">
                                                    <img height="15" width="15"
                                                            src={% static "assets/pdficon.png" %}>
                                                </a>
                                            </font>

                                                </font></td>
                                          <td>
                                              {% if avaliados2.status == 'aprovado' %}
                                              <img width="15" height="15"
                                                   src={% static "assets/aprovado.png" %}>
                                              {% elif avaliados2.status == 'reprovado' %}
                                              <img width="20" height="20"
                                                   src={% static "assets/reprovado.png" %}>
                                              {% elif avaliados2.status == 'avaliacao' %}
                                              <img width="15" height="15"
                                                   src={% static "assets/ampulheta.png" %}>
                                              {% endif %}
                                        </td>

                                        </tr>
                                                {% endfor %}


                                    {% for avaliados3 in avaliados3 %}
                                    <tr class="text-center">
                                             <td><font size="2px">{{avaliados3.id}}</font></td>

                                                 <td>
                                                {{avaliados3.titulo}}
                                                 </td>

                                            <td>
                                                {% for sessao in sessao %}
                                                {% if sessao.id == avaliados3.sessao %}
                                                <font size="2px">
                                                {{ sessao.nome }}
                                                </font></td>
                                                 {% endif %}
                                                 {% endfor %}

                                            <td>

                                                <font size="2px">
                                                <font size="2px">
                                                <a href="/media/{{avaliados3.trabalho}}"
                                                style="text-decoration:none;"
                                                target="_blank" rel="noopener noreferrer">
                                                    <img height="15" width="15"
                                                            src={% static "assets/pdficon.png" %}>
                                                </a>
                                            </font>

                                                </font></td>
                                          <td>
                                              {% if avaliados3.status == 'aprovado' %}
                                              <img width="15" height="15"
                                                   src={% static "assets/aprovado.png" %}>
                                              {% elif avaliados3.status == 'reprovado' %}
                                              <img width="20" height="20"
                                                   src={% static "assets/reprovado.png" %}>
                                              {% elif avaliados3.status == 'avaliacao' %}
                                              <img width="15" height="15"
                                                   src={% static "assets/ampulheta.png" %}>
                                              {% endif %}
                                        </td>

                                        </tr>
                                                {% endfor %}




                                    </tbody>
                                </table>
                                </div>
                        </div>


                                <!-- tabela terminando aqui -->
                                </p>



                    </div>

                </main>

                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Desenvolvido por G&L Plataformas</div>
                            <div>
                                <a href="#">Politica de Privacidade</a>
                                &middot;
                                <a href="#">Termos e Condições</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>


{% endblock %}