{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
<div id="layoutSidenav_content">
                <main>

                    <div class="container-fluid px-4 mt-3">


            <div class="accordion" id="accordionExample">

                <div class="steps">
                 <progress id="progress" value=0 max=100></progress>
                    <div class="step-item">
                        <button class="step-button text-center" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                           1
                        </button>
                        <div class="step-title">
                            Evento
                        </div>
                    </div>
                    <div class="step-item">
                        <button class="step-button text-center collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            2
                        </button>
                        <div class="step-title">
                            Criar Sessão
                        </div>
                    </div>
                    <div class="step-item">
                        <button class="step-button text-center collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            3
                        </button>
                        <div class="step-title">
                           Gerenciar Sessões
                        </div>
                    </div>

                </div>


                <div class="card">
                    <div  id="headingOne">
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                <div class="card-header text-center text-white"
                       style="background:#4B5F83;">
                        Atualizando Evento
              </div>
                <div class="card-body">

                      {% for evento in evento %}
                    <form method="post" action="/alterarevento/?id={{evento.id}}"> {% csrf_token %}
                  <div class="row mt-4">
                    <div class="col-sm-3">
                      <h6 class="mb-0 text-center ">Nome</h6>
                    </div>
                    <div class="col-sm-8 text-secondary ">
                    <input class="form-control"
                           name="nome"
                           value="{{evento.nome}}">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0 text-center">Cidade</h6>
                    </div>
                    <div class="col-sm-8 text-secondary">
                    <input type="text"
                           name="cidade"
                           value="{{evento.cidade}}" class="form-control">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0 text-center">Estado</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                    <input class="form-control"
                           name="estado"
                           value="{{evento.estado}}" type="text">

                    </div>
                  </div>

                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0 text-center">Modalidade</h6>
                    </div>
                    <div class="col-sm-4 text-secondary">
                     <input type="text" name="modalidade"
                            value="{{evento.modalidade}}"
                            class="form-control">
                    </div>
                  </div>

                  <hr>

                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0 text-center">Data e Hora</h6>
                    </div>
                    <div class="col-sm-5 text-secondary">
                    {{evento.get_data_evento}} <input class="form-control col-5"
                                                      name="datahora"
                                                      type="datetime-local">
                    </div>
                  </div>

                   <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0 text-center">Status</h6>
                    </div>
                    <div class="col-sm-6 text-secondary">
                        {{evento.status}}

                     </div>

                      {% endfor %}
                    </div>
                        <hr>

                 <div class="card-footer">
                     <div align="right">
                         <input type="submit" class="btn btn-primary" value="Salvar">
                         </div>
                     </div>
                    </form>

                    </div>
                </div>

                    <div class="card">
                    <div  id="headingTwo">
                    </div>

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">

                       <div class="card-body">
                           <div class="card h-auto">
                  <div class="card-header text-white text-center" style="background:#4B5F83;">
                             Criando Sessão
                  </div>

                    <div class="card-body">

                      {% if msg %}
                      <div class="mt-2">
                        <div class="btn-success text-white col-4 text-center">{{msg}}</div>
                      </div>
                      {% endif %}
                      {% if msg2 %}
                      <div class="mt-2">
                        <div class="btn-danger text-white col-3 text-center">{{msg2}}</div>
                      </div>
                      {% endif %}
                      {% for evento in evento %}
                      <form method="POST" action="/criarsessao/?id={{evento.id}}"> {% csrf_token %}
                      {% endfor %}
                      <div class="mt-2 align-items-center">
                        <input class="form-control col-10" name="nome" type="text" placeholder="Nome da Sessão" required>
                      </div>
                      <div class="mt-2">
                        <input class="form-control col-10" name="descricao" type="text" placeholder="Descrição" required>
                      </div>
                      <div class="mt-3">
                       <select class="form-control col-10" name="lider" required>
                         <option value="" selected>Selecione o Líder...</option>
                         {% for candidato in candidato %}
                         <option value="{{candidato.id_usuario}}" required>{{candidato.nome}} ({{candidato.instituicao}})</option>
                         {% endfor %}
                       </select>
                      </div>

                      <div class="mt-3">
                       <select class="form-control col-10" name="lider2" required>
                         <option value="" selected>Selecione o Líder...</option>
                         {% for candidato in candidato %}
                         <option value="{{candidato.id_usuario}}" required>{{candidato.nome}} ({{candidato.instituicao}})</option>
                         {% endfor %}
                       </select>
                      </div>

                      <div class="mt-3">
                       <select class="form-control col-10" name="lider3" required>
                         <option value="" selected>Selecione o Líder...</option>
                         {% for candidato in candidato %}
                         <option value="{{candidato.id_usuario}}" required>{{candidato.nome}} ({{candidato.instituicao}})</option>
                         {% endfor %}
                       </select>
                      </div>


                      <div class="mt-3">

                          <select class="form-control col-10" name="formulario" required>
                              {% for formulario in formulario %}
                              <option value="{{formulario.id}}">{{formulario.nome_formulario}}</option>
                              {% endfor %}
                          </select>

                      </div>
                      <div class="mt-2">
                        <input class="form-control col-8" name="tema"
                               placeholder="Informe qual tema desta sessão">
                      </div>
                      <div class="mt-3" align="right">
                        <input type="submit" class="btn btn-primary" value="Criar sessão">
                      </div>
                      </form>

                  </div>
                  </div>
                       </div>
                    </div>

                    <div class="card">
                    <div  id="headingThree">
                    </div>

                    <div id="collapseThree" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                <div class="card-header text-center text-white"
                       style="background:#4B5F83;">
                        Gerenciar sessões
              </div>
                <div class="card-body">

                      <table  class="table" id="datatablesSimple">
                                    <thead >
                                        <tr >
                                            <th class="text-center"><font size="2px">Nome</font></th>
                                          <!--
                                            <th><font size="2px">Descricao</font></th>
                                            <th><font size="2px">Tema</font></th>
                                            <th><font size="2px">Líder</font></th>
                                          -->
                                            <th class="text-center"><font size="2px">Ações</font></th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th><font size="2px">Nome</font></th>
                                            <th><font size="2px">Descricao</font></th>
                                            <th><font size="2px">Tema</font></th>
                                            <th><font size="2px">Líder</font></th>
                                            <th><font size="2px">Ações</font></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                      {% for sessao in sessao %}
                                      <tr>
                                      <td class="text-center">
                                          {{sessao.nome}}
                                      </td>
                                      <!--
                                      <td>
                                          {{sessao.descricao}}
                                      </td>
                                     <td>
                                         {{sessao.tema}}
                                     </td>
                                    <td>
                                        {{sessao.lider}}
                                    </td>
                                    -->
                                    <td class="text-center">

                                         <a type="button"
                                                  data-toggle="modal"
                                                  data-target="#modalacao{{sessao.id}}"
                                                  >

                                                   <img class="horario"
                                                        src={% static "assets/enggira.png" %} width="15" height="15" />
                                                </a>


<form action="/editsessao/" method="post">

      <div class="col-sm-12 modal fade" id="modalacao{{sessao.id}}"
     tabindex="-1" role="dialog"
     aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-white" style="background:#4B5F83;">

        <h5 class="modal-title"
            id="TituloModalCentralizado">
            Ações
        </h5>
        <a type="button" class="close" data-dismiss="modal" aria-label="Fechar"
           style="background:#4B5F83;text-decoration:none;">
          <span  aria-hidden="true" class="text-white">&times;</span>
        </a>
      </div>
      <div class="modal-body text-center">

        <div class="form-group col-12 text-center">


            <label>Nome:</label>
            <input class="form-control col-5 mt-2"
                   name="nomesessao" value="{{sessao.nome}}" required>
            <label class="mt-2">Descrição</label>
            <input class="form-control col-4 mt-2"
                   name="sessaodescricao"
                   value="{{sessao.descricao}}" required>

            <label class="mt-2">Tema</label>
            <input class="form-control col-4 mt-2" name="sessaotema"
                   value="{{sessao.tema}}" required>

            <label class="mt-2">Formulario</label>
            <select class="form-control" name="sessaoform" required>

                <option value="{{sessao.formulario}}" selected>
                    {% for formulario in formulario %}
                    {% if formulario.id == sessao.formulario %}
                    {{formulario.nome_formulario}}
                    {% endif %}
                    {% endfor %}

                </option>
                {% for formulario in formulario %}
                <option value="{{formulario.id}}">
                    {{formulario.nome_formulario}}
                </option>
                {% endfor %}
            </select>



            <input type="hidden" value="{{sessao.id}}" name="idsessao">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <input type="submit" class="btn text-white" style="background:#4B5F83;" value="Atualizar">
      </div>


    </div>

  </div>

</div>







      </div>

</form>



</td>


                                    </tr>
                                    {% endfor %}


                                    </tbody>
                                  </table>


                    </div>
                </div>
            </div>

                    </div>
                </main>

    <br>

                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Desenvolvido por G&L Plataformas</div>
                            <div>
                                <a href="#">Politica de Privacidade</a>
                                &middot;
                                <a href="#">Termos e Condições</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>












{% endblock %}























<!--
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editando evento G&L Plataforma de Eventos</title>
   {% include 'header.html' %}
</head>
<body>


<div class="container">
    <div class="main-body">
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/meuperfil/">Meu Perfil</a></li>
              <li class="breadcrumb-item"><a href="/home/">Home</a></li>
            </ol>
          </nav>
         {% if msg %}
          <div class="mt-4">
           <h6 class="mb-0">{{msg}}</h6>
          </div>
        {% endif %}



         PAREI AQUI





</body>
{% include 'footer.html' %}
</html>

-->