{% extends 'base.html' %}
{% load static %}


{% block content %}

<div id="layoutSidenav_content" style="background:#e2e8f0;">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4" style="color:#4B5F83;">Formulário avaliado</h1>


                                <p class="mb-0">
                                  <div class="card col-12">
                                      <div class="card-header text-center"
                                           style="background:#4B5F83;color:#e2e8f0;">
                                          Trabalho
                                      </div>
                                <div class="card-body">
                                    <table class="table">
                                    <thead>
                                        <tr>
                                             <th class="text-center"><font size="2px">ID</font></th>
                                            <th class="text-center"><font size="2px">Titulo</font></th>
                                            <th class="text-center"><font size="2px">Trabalho</font></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                             {% for trabalho in trabalho %}
                                                <td class="text-center">{{trabalho.id}}</td>
                                                <td class="text-center">
                                                {{trabalho.titulo}}
                                                </td>
                                                <td class="text-center">
                                                   <a href="/media/{{trabalho.trabalho}}"
                                                style="text-decoration:none;"
                                                target="_blank" rel="noopener noreferrer">
                                                    <img height="20" width="20"
                                                            src={% static "assets/pdficon.png" %}>
                                                </a>
                                                </td>
                                             {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                        </div>

                        <div class="card col-12 mt-3" >

                                      <div class="card-header text-center"
                                           style="background:#4B5F83;color:#e2e8f0;">
                                          Formulário usado na avaliação
                                      </div>
                                <div class="card-body">

                                    <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Critério</th>
                                        <th class="text-center">Nota recebida</th>
                                        <th class="text-center">Data avaliado</th>
                                    </tr>
                                    </thead>

                                    <tbody>

                                             {% for formulario in formulario %}
                                             <tr>

                                                 <td class="text-center bg-warning text-white">{{formulario.criterio}}</td>
                                                 {% if formulario.nota >= 3 %}
                                                 <td class="text-center bg-success text-white">{{formulario.nota}}</td>
                                                 {% else %}
                                                 <td class="text-center bg-danger">{{formulario.nota}}</td>
                                                 {% endif %}

                                                 <td class="text-center text-white bg-secondary">{{formulario.get_data}}</td>
                                             </tr>
                                             {% endfor %}


                                    </tbody>
                                </table>


                                </div>
                        </div>



                                <!-- tabela terminando aqui -->
                                </p>



                    </div>
                </main>

                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Desenvolvido por G&L Plataformas</div>
                            <div>
                                <a href="#">Politica de Privacidade</a>
                                &middot;
                                <a href="#">Termos e Condições</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>

{% endblock %}