{% extends 'base.html' %}
{% load static %}

{% block content %}


  <div id="layoutSidenav_content" >
                <main>
            <div class="container-fluid">
                <div class="row">
            <div class="col-sm-4 mb-3 mt-4">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    {% for evento in evento %}
                    <img src="/media/{{evento.logo}}" alt="Admin" class="rounded-circle" width="150" height="140">
                    {% endfor %}
                    <div class="mt-3">
                      <!--<h4>Senhor Freitas</h4> -->
                      <p class="text-secondary mb-1">
                        {% for evento in evento %}
                        Evento: {{evento.nome}}
                        {% endfor %}
                      </p>
                      <hr>
                      <p class="text-muted font-size-sm">{% for evento in evento %}
                      Modalidade: {{evento.modalidade}}
                      {% endfor %}</p>
                      <!-- <button class="btn btn-primary">?</button> -->
                      <hr>
                      <p class="text-secondary mb-1">
                      {% for evento in evento %}
                      {{evento.get_data_evento}}
                      {% endfor %}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
                        </div>

                 <div class="col-sm-4 mb-3 mt-4">
              <div class="card h-100">
                <div class="card-body">

                    <div class="card-header text-center text-white" style="background:#4B5F83;">
                        Submissão do Trabalho
                    </div>
                    {% if msg %}
                    <div class="mt-2" align="center">

                        <div class="btn-danger col-12">{{msg}}</div>
                    </div>
                  {% endif %}
                  {% if msg2 %}
                    <div class="mt-2" align="center">

                        <div class="btn-success col-12">{{msg2}}</div>
                    </div>
                  {% endif %}
                  <div class="d-flex flex-column align-items-center mt-2 text-center">

                    <div class="mt-3">

                       {% for sessao in sessao %}
                      <form method="post"
                            enctype="multipart/form-data"
                            action="/submetertrabalho/?id={{sessao.id}}"> {% csrf_token %} {% endfor %}
                      <p class="text-secondary mb-1">
                       Escolha a Sessão que deseja submeter <select class="form-control mt-2 col-auto"
                                                                    name="sessao">
                          <option value="Selecione a sessão..." selected>Selecione a sessão...</option>
                          {% for sessao in sessao %}
                          <option value="{{sessao.id}}">{{sessao.nome}}</option>
                          {% endfor %}
                      </select>
                      </p>
                      <hr>
                      <p class="text-secondary mb-1">


                      <input type="file" name="trabalho">


                      </p>
                      <hr>
                      <p class="text-secondary mb-1">

                        <div align="right">
                        <input type="submit" value="Enviar" class="btn text-white" style="background:#4B5F83;">
                      </div>

                      </p>


                    </div>
                  </div>
                </div>
              </div>
            </div>


                     <div class="col-sm-4 mb-3 mt-4">
              <div class="card h-100">
                <div class="card-body">

                    <div class="card-header text-center text-white" style="background:#4B5F83;">
                        Informações do Trabalho
                    </div>

                    <input class="form-control mt-2" type="text"
                           name="titulo"
                           placeholder="Titulo do Trabalho" required>

                    <textarea class="form-control mt-2" name="resumo" placeholder="resumo"
                              required></textarea>

                    <textarea class="form-control mt-2" name="palavrachave"
                              placeholder="Palavras chave"
                              required></textarea>

                    <button class="btn mt-3 text-white"
                            style="background:#4B5F83;">Autores</button>


                </div>
              </div>
                     </div>
   </form>

        </div>
</div>
                </main>

                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Desenvolvido por G&L Plataformas</div>
                            <div>
                                <a href="#">Politica de Privacidade</a>
                                &middot;
                                <a href="#">Termos e Condições</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>


{% endblock %}
<style>
    .h-100 {
    height: 100%!important;
}
</style>
