{% extends 'base.html' %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
{% load static %}


{% block content %}



<div id="layoutSidenav_content" style="background:#e2e8f0;">

                <main>

                    <div class="container-fluid px-4">

                        <h1 class="mt-4" style="color:#4B5F83;">Trabalhos submetidos</h1>
                        {% if msg %}
                        <div class="btn btn-danger col-12">

                            {{msg}}

                        </div>

                        {% endif %}
                        <!--
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="#" style="text-decoration:none;">Eventos</a></li>
                            <li class="breadcrumb-item active">Avaliações</li>
                        </ol>
                        -->

                                <p class="mb-0 mt-3">
                                 <!-- tabelas iniciando aqui -->
                                <div class="card">
                                <div class="card-header text-white" style="background:#4B5F83;">
                                   Submissões
                                </div>
                        <div class="card-body">

                              <div class="mt-2" align="right">

                                   <a href="/submeter/">
                                       <button class="btn text-white mt-4" style="background:#4B5F83;">Submeter</button>
                                    </a>

                              </div>
                        </div>

                        <div class="card-body">


                                  <table class="table " id="datatablesSimple">
                                    <thead>
                                        <tr>
                                             <th class="text-center"><font size="2px">ID</font></th>
                                            <th class="text-center"><font size="2px">Título</font></th>
                                            <th class="text-center"><font size="2px">Autores</font></th>
                                            <th class="text-center"><font size="2px">Sessão</font></th>
                                            <th class="text-center"><font size="2px">Trabalho</font></th>
                                            <th class="text-center"><font size="2px">Nota</font></th>
                                            {% for usuarios in usuarios %}
                                            {% if usuarios.gestor_plataforma == 'sim' or usuarios.lider == 'sim' %}
                                            <th class="text-center"><font size="2px">Ações</font></th>
                                            {% endif %}
                                            {% endfor %}
                                             <th class="text-center"><font size="2px">Situação</font></th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                             <th class="text-center"><font size="2px">ID</font></th>
                                            <th class="text-center"><font size="2px">Título</font></th>
                                            <th class="text-center"><font size="2px">Autores</font></th>
                                            <th class="text-center"><font size="2px">Sessão</font></th>
                                            <th class="text-center"><font size="2px">Trabalho</font></th>
                                            <th class="text-center"><font size="2px">Nota</font></th>
                                            {% for usuarios in usuarios %}
                                            {% if usuarios.gestor_plataforma == 'sim' or usuarios.lider == 'sim' %}
                                            <th class="text-center"><font size="2px">Ações</font></th>
                                            {% endif %}
                                            {% endfor %}
                                             <th class="text-center"><font size="2px">Situação</font></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>



                                            {% for usuarios in usuarios %}
                                            {% for trabalho in trabalho %}
                                            {% if usuarios.gestor_plataforma == 'sim' %}

                                         <tr class="text-center">
                                              <td><font size="2px">{{trabalho.id}}</font>
                                              </td>

                                           <td>
                                             <font size="2px">{{trabalho.titulo}}</font>
                                         </td>
                                            <!--<td>{{ eventos.get_data_evento}}</td>-->
                                            <td>
                                             <!-- aqui tava certo   {% for sessao in sessao %}
                                                 {% if trabalho.sessao == sessao.id %} -->
                                                <font size="2px">{{trabalho.autor}}
                                                    {% for autores in autores %}
                                                    {% if autores.id_trabalho == trabalho.id %}
                                                    ,{{autores.nome}}
                                                    {% endif %}
                                                    {% endfor %}

                                                </font>
                                             <!--   {% endif %}
                                                {% endfor %} -->
                                            </td>

                                            <td>
                                                {% for sessao in sessao %}
                                                 {% if trabalho.sessao == sessao.id %}
                                                <font size="2px">{{sessao.nome}}</font>
                                                {% endif %}
                                                {% endfor %}
                                            </td>



                                            <td align="center"><font size="2px">
                                            <a href="/media/{{trabalho.trabalho}}" target="_blank" rel="noopener noreferrer">
                                                 <img width="15" height="15"
                                                      src={% static "assets/pdficon.png" %}>
                                            </a>

                                            </font>
                                            </td>


                                              <td>{% if trabalho.nota1 or trabalho.nota2 %} {% if trabalho.nota1 %}<a href="/formavaliado/?id={{trabalho.id}}" style="text-decoration:none;">{{trabalho.nota1}}</a>                                                                                                                                               &nbsp;
                                                  {% endif %}
                                                  {% if trabalho.nota2 %}
                                                  <a href="/formavaliado/?id={{trabalho.id}}"
                                                  style="text-decoration:none;">{{trabalho.nota2}}</a>
                                                  {% endif %}
                                                  {% if trabalho.nota3 %}
                                                  <a type="button" href="/formavaliado/?id={{trabalho.id}}"
                                                  style="text-decoration:none;">{{trabalho.nota3}}</a>

                                                  {% endif %}
                                                  {% endif %}


                                              </td>

                                             <td align="center">


                                               <a type="button"
                                                  data-toggle="modal"
                                                  data-target="#modalacao{{trabalho.id}}"
                                                  >

                                                   <img class="horario"
                                                        src={% static "assets/enggira.png" %} width="15" height="15" />
                                                </a>


<form method="POST" action="/enviaravaliador/">{% csrf_token %}
     <div class="col-sm-12 modal fade" id="modalacao{{trabalho.id}}"
     tabindex="-1" role="dialog"
     aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-white" style="background:#4B5F83;">

        <h5 class="modal-title"
            id="TituloModalCentralizado">
            Ações
        </h5>
        <a type="button" class="close" data-dismiss="modal" aria-label="Fechar"
           style="background:#4B5F83;text-decoration:none;">
          <span  aria-hidden="true" class="text-white">&times;</span>
        </a>
      </div>
      <div class="modal-body">
           <div class="container-fluid" align="center">

               {% if trabalho.av1 == 'aguardando' %}
                Escolher Avaliador
                <input name="av3" type="hidden">
                <select class="form-control mt-2" name="av1" required>
                    {% for avaliadores in avaliadores %}
                    {% if avaliadores.id_usuario != usuarios.id_usuario %}
                    <option value="{{avaliadores.id_usuario}}">{{avaliadores.nome}}</option>
                    {% endif %}
                    {% endfor %}
                </select>

               <br>
               {% endif %}
               {% if trabalho.av2 == 'aguardando' %}
               Escolher segundo avaliador
               <select class="form-control mt-2" name="av2">
                    {% for avaliadores in avaliadores %}
                    {% if avaliadores.id_usuario != usuarios.id_usuario %}
                    <option value="{{avaliadores.id_usuario}}">{{avaliadores.nome}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
               {% endif %}
               {% if trabalho.av1 != 'aguardando' and trabalho.av2 != 'aguardando' %}
               {% if trabalho.status == 'aprovado' %}
               Este trabalho foi aprovado!
               {% endif %}
               {% if trabalho.status == 'reprovado' %}
               Este trabalho foi reprovado!
               {% endif %}
               {% if trabalho.status == 'avaliacao' and trabalho.av2 != 'aguardando' and trabalho.av1 != 'aguardando' %}
               Escolher terceiro avaliador
               <select class="form-control mt-2" name="av3">
                    {% for avaliadores in avaliadores %}
                    {% if avaliadores.id_usuario != usuarios.id_usuario %}
                    <option value="{{avaliadores.id_usuario}}">{{avaliadores.nome}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
               {% endif %}

               {% endif %}
               <input type="hidden" value="{{trabalho.id}}" name="id_trabalho">

          </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

          {% if trabalho.status == 'avaliacao' or trabalho.status == 'aguardando' %}
        <input type="submit" class="btn text-white" style="background:#4B5F83;" value="Enviar">
          {% endif %}

      </div>
    </div>
  </div>
</div>
</form>

                                            </td>
                                             <td class="text-center">

{% if trabalho.progresso == 0 %}
<img width="15" height="15" class="antiHorario"
     src={% static "assets/ampulheta.png" %} />
{% else %}
{% if trabalho.progresso == 100 %}
{% if trabalho.status == 'aprovado' %}
<div class="progress">
  <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"
       role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
      {{trabalho.progresso}}%</div>
</div>
{% endif %}
{% if trabalho.status == 'reprovado' %}
<div class="progress">
  <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated"
       role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
      {{trabalho.progresso}}%</div>
</div>
{% endif %}
{% else %}
<div class="progress">
  <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated"
       role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{trabalho.progresso}}%">
      {{trabalho.progresso}}%</div>
</div>
{% endif %}
{% endif %}




                                            </td>

                                        </tr>


                                            {% elif usuarios.gestor_plataforma == 'nao' %}
                                            {% if usuarios.id_usuario == trabalho.id_usuario %}

                                              <tr class="text-center">

                                             <td>
                                                 <font size="2px">{{trabalho.id}}
                                                </font>
                                             </td>
                                         <td>

                                             <font size="2px">{{trabalho.titulo}}
                                             </font>
                                         </td>
                                            <!--<td>{{ eventos.get_data_evento}}</td>-->
                                            <td>

                                             <!-- aqui tava certo   {% for sessao in sessao %}
                                                 {% if trabalho.sessao == sessao.id %} -->

                                                <font size="2px">{{trabalho.autor}}
                                                    {% for autores in autores %}
                                                    {% if autores.id_trabalho == trabalho.id %}
                                                    ,{{autores.nome}}
                                                    {% endif %}
                                                    {% endfor %}

                                                </font>

                                             <!--   {% endif %}
                                                {% endfor %} -->
                                            </td>

                                            <td>
                                                {% for sessao in sessao %}
                                                {% if trabalho.sessao == sessao.id %}
                                                <font size="2px">{{sessao.nome}}</font>
                                                {% endif %}
                                                {% endfor %}
                                            </td>



                                            <td align="center"><font size="2px">
                                            <a href="/media/{{trabalho.trabalho}}" target="_blank" rel="noopener noreferrer">
                                                 <img width="15" height="15"
                                                      src={% static "assets/pdficon.png" %}>
                                            </a>

                                            </font>
                                            </td>


                                              <td>

                                                  {% if trabalho.nota1 or trabalho.nota2 %}
                                                  {% if trabalho.nota1 %}
                                                  {{trabalho.nota1}}
                                                  &nbsp;
                                                  {% endif %}
                                                  {% if trabalho.nota2 %}
                                                  <i class="bi bi-2-square"></i>{{trabalho.nota2}}
                                                  {% endif %}

                                                  {% endif %}


                                              </td>

                                            {% if usuarios.lider == 'sim' and trabalho.id_usuario != usuarios.id_usuario %}
                                                  <td>

                                                       <a type="button"
                                                  data-toggle="modal"
                                                  data-target="#modalacao{{trabalho.id}}"
                                                  >

                                                   <img class="horario"
                                                        src={% static "assets/enggira.png" %} width="15" height="15" />
                                                </a>


                                        <form method="POST" action="/enviaravaliador/">{% csrf_token %}
     <div class="col-sm-12 modal fade" id="modalacao{{trabalho.id}}"
     tabindex="-1" role="dialog"
     aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-white" style="background:#4B5F83;">

        <h5 class="modal-title"
            id="TituloModalCentralizado">
            Ações
        </h5>
        <a type="button" class="close" data-dismiss="modal" aria-label="Fechar"
           style="background:#4B5F83;text-decoration:none;">
          <span  aria-hidden="true" class="text-white">&times;</span>
        </a>
      </div>
      <div class="modal-body">
           <div class="container-fluid" align="center">

               {% if trabalho.av1 == 'aguardando' %}
                Escolher Avaliador
                <input name="av3" type="hidden">
                <select class="form-control mt-2" name="av1" required>
                    {% for avaliadores in avaliadores %}
                    <option value="{{avaliadores.id_usuario}}">{{avaliadores.nome}}</option>
                    {% endfor %}
                </select>
               <br>
               {% endif %}
               {% if trabalho.av2 == 'aguardando' %}
               Escolher segundo avaliador
               <select class="form-control mt-2" name="av2">
                    {% for avaliadores in avaliadores %}
                    <option value="{{avaliadores.id_usuario}}">{{avaliadores.nome}} ({{avaliadores.id}})</option>
                    {% endfor %}
                </select>
               {% endif %}
               {% if trabalho.av1 != 'aguardando' and trabalho.av2 != 'aguardando' %}
               {% if trabalho.status == 'aprovado' %}
               Este trabalho foi aprovado!
               {% endif %}
               {% if trabalho.status == 'reprovado' %}
               Este trabalho foi reprovado!
               {% endif %}
               {% if trabalho.status == 'avaliacao' and trabalho.av2 != 'aguardando' and trabalho.av1 != 'aguardando' %}
               Escolher terceiro avaliador
               <select class="form-control mt-2" name="av3">
                    {% for avaliadores in avaliadores %}
                    <option value="{{avaliadores.id_usuario}}">{{avaliadores.nome}}</option>
                    {% endfor %}
                </select>
               {% endif %}

               {% endif %}
               <input type="hidden" value="{{trabalho.id}}" name="id_trabalho">

          </div>





      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

          {% if trabalho.status == 'avaliacao' or trabalho.status == 'aguardando' %}
        <input type="submit" class="btn text-white" style="background:#4B5F83;" value="Enviar">
          {% endif %}

      </div>
    </div>
  </div>
</div>
</form>

                                                  </td>

                                              {% else %}
                                                  <td>
                                                      <img width="15" height="15"
                                                      src="https://cdn-icons-png.flaticon.com/512/3208/3208742.png"
                                                      >
                                                  </td>
                                             {% endif %}

                                             <td class="text-center">

{% if trabalho.progresso == 0 %}
<img width="15" height="15" class="antiHorario"
     src={% static "assets/ampulheta.png" %} />
{% else %}
{% if trabalho.progresso == 100 %}
{% if trabalho.status == 'aprovado' %}
<div class="progress">
  <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"
       role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
      {{trabalho.progresso}}%</div>
</div>
{% endif %}
{% if trabalho.status == 'reprovado' %}
<div class="progress">
  <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated"
       role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
      {{trabalho.progresso}}%</div>
</div>
{% endif %}
{% else %}
<div class="progress">
  <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated"
       role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{trabalho.progresso}}%">
      {{trabalho.progresso}}%</div>
</div>
{% endif %}
{% endif %}




                                            </td>



                                        </tr>

                                            {% endif %}
                                            {% endif %}
                                            {% endfor %}
                                            {% endfor %}

                                    {% for usuarios in usuarios %}
                                    {% if usuarios.lider == 'sim' and usuarios.gestor_plataforma == 'nao' %}
                                    {% for sessaolider in sessaolider %}
                                    {% for trabalho in trabalho %}
                                    {% if sessaolider.sessao == trabalho.sessao and trabalho.id_usuario != usuarios.id_usuario %}


                                            <tr>
                                               <td><font size="2px">{{trabalho.id}}</font>
                                              </td>

                                                <td>

                                             <font size="2px">{{trabalho.titulo}}
                                             </font>
                                         </td>

                                               <td>


                                                <font size="2px">{{trabalho.autor}}
                                                    {% for autores in autores %}
                                                    {% if autores.id_trabalho == trabalho.id %}
                                                    ,{{autores.nome}}
                                                    {% endif %}
                                                    {% endfor %}
                                                </font>

                                            </td>

                                                <td>
                                                {% for sessao in sessao %}
                                                {% if trabalho.sessao == sessao.id %}
                                                <font size="2px">{{sessao.nome}}</font>
                                                {% endif %}
                                                {% endfor %}
                                            </td>


                                                <td align="center"><font size="2px">
                                            <a href="/media/{{trabalho.trabalho}}" target="_blank" rel="noopener noreferrer">
                                                 <img width="15" height="15"
                                                      src={% static "assets/pdficon.png" %}>
                                            </a>

                                            </font>
                                            </td>




                                                 <td>

                                                  {% if trabalho.nota1 or trabalho.nota2 %}
                                                  {% if trabalho.nota1 %}
                                                  {{trabalho.nota1}}
                                                  &nbsp;
                                                  {% endif %}
                                                  {% if trabalho.nota2 %}
                                                  <i class="bi bi-2-square"></i>{{trabalho.nota2}}
                                                  {% endif %}

                                                  {% endif %}


                                              </td>



                                                 <td class="text-center">

                                                       <a type="button"
                                                  data-toggle="modal"
                                                  data-target="#modalacao{{trabalho.id}}"
                                                  >

                                                   <img class="horario"
                                                        src={% static "assets/enggira.png" %} width="15" height="15" />
                                                </a>


                                        <form method="POST" action="/enviaravaliador/">{% csrf_token %}
     <div class="col-sm-12 modal fade" id="modalacao{{trabalho.id}}"
     tabindex="-1" role="dialog"
     aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-white" style="background:#4B5F83;">

        <h5 class="modal-title"
            id="TituloModalCentralizado">
            Ações
        </h5>
        <a type="button" class="close" data-dismiss="modal" aria-label="Fechar"
           style="background:#4B5F83;text-decoration:none;">
          <span  aria-hidden="true" class="text-white">&times;</span>
        </a>
      </div>
      <div class="modal-body">
           <div class="container-fluid" align="center">

               {% if trabalho.av1 == 'aguardando' %}
                Escolher Avaliador
                <input name="av3" type="hidden">
                <select class="form-control mt-2" name="av1" required>
                    {% for avaliadores in avaliadores %}
                    <option value="{{avaliadores.id_usuario}}">{{avaliadores.nome}}</option>
                    {% endfor %}
                </select>
               <br>
               {% endif %}
               {% if trabalho.av2 == 'aguardando' %}
               Escolher segundo avaliador
               <select class="form-control mt-2" name="av2">
                    {% for avaliadores in avaliadores %}
                    <option value="{{avaliadores.id_usuario}}">{{avaliadores.nome}} ({{avaliadores.id}})</option>
                    {% endfor %}
                </select>
               {% endif %}
               {% if trabalho.av1 != 'aguardando' and trabalho.av2 != 'aguardando' %}
               {% if trabalho.status == 'aprovado' %}
               Este trabalho foi aprovado!
               {% endif %}
               {% if trabalho.status == 'reprovado' %}
               Este trabalho foi reprovado!
               {% endif %}
               {% if trabalho.status == 'avaliacao' and trabalho.av2 != 'aguardando' and trabalho.av1 != 'aguardando' %}
               Escolher terceiro avaliador
               <select class="form-control mt-2" name="av3">
                    {% for avaliadores in avaliadores %}
                    <option value="{{avaliadores.id_usuario}}">{{avaliadores.nome}}</option>
                    {% endfor %}
                </select>
               {% endif %}

               {% endif %}
               <input type="hidden" value="{{trabalho.id}}" name="id_trabalho">

          </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

          {% if trabalho.status == 'avaliacao' or trabalho.status == 'aguardando' %}
        <input type="submit" class="btn text-white" style="background:#4B5F83;" value="Enviar">
          {% endif %}

      </div>
    </div>
  </div>
</div>
</form>

                                                  </td>




                                               <td class="text-center">

{% if trabalho.progresso == 0 %}
<img width="15" height="15" class="antiHorario"
     src={% static "assets/ampulheta.png" %} />
{% else %}
{% if trabalho.progresso == 100 %}
{% if trabalho.status == 'aprovado' %}
<div class="progress">
  <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"
       role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
      {{trabalho.progresso}}%</div>
</div>
{% endif %}
{% if trabalho.status == 'reprovado' %}
<div class="progress">
  <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated"
       role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
      {{trabalho.progresso}}%</div>
</div>
{% endif %}
{% else %}
<div class="progress">
  <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated"
       role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{trabalho.progresso}}%">
      {{trabalho.progresso}}%</div>
</div>
{% endif %}
{% endif %}




                                            </td>

                                            </tr>

                                            {% endif %}
                                            {% endfor %}
                                            {% endfor %}
                                            {% endif %}
                                            {% endfor %}






                                    </tbody>
                                </table>




                                    <div align="right">

                                    <a href="/submeter/">
                                       <button class="btn text-white mt-4" style="background:#4B5F83;">Submeter</button>
                                    </a>

                                    </div>

                        </div>
                    </div>


                                <!-- tabela terminando aqui -->
                                </p>
                    </div>





                </main>

                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Desenvolvido por G&L Plataformas</div>
                            <div>
                                <a href="#">Politica de Privacidade</a>
                                &middot;
                                <a href="#">Termos e Condições</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% endblock %}
















<!--
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Trabalhos submetidos G&L Plataforma de Eventos</title>
    {% include 'header.html' %}
</head>
<body>
{% include 'capa.html' %}

          <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-header text-center text-white" style="background:#4B5F83;">
                        Trabalhos submetidos
                    </div>
                    <hr>
            <div class="card-body">
        {% for submetidos in submetidos %}
        {% for evento in evento %}
        {% for sessao in sessao %}
         {% if submetidos.id_evento == evento.id and sessao.id_evento == evento.id %}


                  <div class="row">
                    <div class="col-sm-5">
                      <h6 class="mb-0">{{evento.nome}}</h6>
                    </div>

                    <div class="col-sm-6 text-secondary" align="left">

                    <a href="/media/{{submetidos.trabalho}}"
                    style="text-decoration:none;"
                    target="_blank" rel="noopener noreferrer">
                        {{sessao.nome}} - {{sessao.tema}}
                    </a>

                    <a href="/editarsessao/?id={{sessao.id}}"
                       style="text-decoration:none;">
                        <img width="15" height="15"
                                src={% static "assets/avaliar.png" %}
                    </a>
                    -->

<!--
                    <a href="/avaliartrabalho/?id={{submetidos.id}}"
                                              style="text-decoration:none;">
                                           <img height="12" width="12"
                                                   src={% static "assets/editartrabalho.png" %}>
                                           </a>


                     {% endif %}
                {% endfor %}
                {% endfor %}
                {% endfor %}

                    </div>
                  </div>
                  <hr>


</div>
</div>
</div>
</body>
{% include 'footer.html' %}
</html>
-->