{% extends 'base.html' %}
{% load static %}

{% block content %}


  <div id="layoutSidenav_content" style="background:#e2e8f0;">
                <main>

                    <div class="container-fluid px-4">
                        <h1 class="mt-4" style="color:#4B5F83;">Gerenciar Eventos</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="#" style="text-decoration:none;">Eventos</a></li>
                            <li class="breadcrumb-item active">Avaliações</li>
                        </ol>
                    </div>

        <div class="container-fluid px-4">
            <div class="accordion" id="accordionExample">
                <div class="steps">
                 <progress id="progress" value=0 max=100></progress>
                    <div class="step-item">
                        <button class="step-button text-center" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                           1
                        </button>
                        <div class="step-title">
                            Informações
                        </div>
                    </div>
                    <div class="step-item">
                        <button class="step-button text-center collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            2
                        </button>
                        <div class="step-title">
                            Trabalho
                        </div>
                    </div>
                    <div class="step-item">
                        <button class="step-button text-center collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            3
                        </button>
                        <div class="step-title">
                           Autores
                        </div>
                    </div>
                  <!--    <div class="step-item">
                        <button class="step-button text-center collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            4
                        </button>
                        <div class="step-title">
                           Líder
                        </div>
                    </div>  -->
                </div>


                <div class="card">
                    <div  id="headingOne">
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                <div class="card-header text-center text-white"
                       style="background:#4B5F83;">
                        Dados do trabalho
              </div>
                <div class="card-body">
                    {% if msg %}
                    <div class="mt-2" align="center">

                        <div class="btn-danger col-12">{{msg}}</div>
                    </div>
                  {% endif %}
                  {% if msg2 %}
                    <div class="mt-2" align="center">

                        <div class="btn-success col-12">{{msg2}}</div>
                    </div>
                  {% endif %}



                 <form method="post" id="formautor"
                            enctype="multipart/form-data"
                            action="/submetertrabalho/?id={{id}}"> {% csrf_token %}


                  <div class="d-flex flex-column align-items-center mt-2 text-center">
                    <div class="form-group col-4">

                          <input class="form-control mt-2" type="text"
                           name="titulo"
                           placeholder="Titulo do Trabalho" required>
                    </div>

                    <textarea class="form-control mt-2" name="resumo" placeholder="resumo"
                              required></textarea>

                    <textarea class="form-control mt-2" name="palavrachave"
                              placeholder="Palavras chave"
                              required></textarea>
                  </div>

                </div>

                 <div class="card-footer">

                    <div align="right">
                        <!--
                        <button  class="btn text-center text-white" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                   style="background:#ff4040;"
                         >
                           Voltar
                        </button> -->

                         <button  class="btn text-center text-white" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
                                   style="background:#4B5F83;"
                         >
                           Avançar
                        </button>
                    </div>

                 </div>



                <!-- fim é aqui -->

                    </div>
                </div>
                <div class="card">
                    <div  id="headingTwo">
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-header text-center text-white"
                       style="background:#4B5F83;">
                        Envio do trabalho
                       </div>
                        <div class="card-body">


                      <p class="text-secondary mb-1">
                         Escolha a Sessão que deseja submeter <select class="form-control mt-2 col-4"
                                                                    name="sessao" required>
                          <option value="Selecione a sessão..." selected>Selecione a sessão...</option>
                          {% for eventos in eventos %}
                          {% for sessao in sessao %}
                          {% if sessao.id_evento == eventos.id %}
                          <option value="{{sessao.id}}">{{sessao.nome}}</option>
                          {% endif %}
                          {% endfor %}
                          {% endfor %}

                      </select>
                      </p>
                      <hr>
                      <p class="text-secondary mb-1">
                      <input type="file" name="trabalho" required>
                      </p>
                      <hr>
                      <p class="text-secondary mb-1">
                      </p>

                        </div>

                        <div class="card-footer">

                    <div align="right">

                        <button  class="btn text-center text-white" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                   style="background:#ff4040;"
                         >
                           Voltar
                        </button>

                         <button  class="btn text-center text-white" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree"
                                   style="background:#4B5F83;"
                         >
                           Avançar
                        </button>
                    </div>

                 </div>

                    </div>
                </div>


                <div class="card">
                    <div  id="headingThree">
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#accordionExample">
                         <div class="card-header text-center text-white" style="background:#4B5F83;">
                        Autores do Trabalho
                    </div>
                        <div class="card-body">
                <div class="card-body">
                   <div class="row" id="linha">
                       <div class="col-12 text-center" id="autores">
                           <label>Autores:</label>
                           {% if usuarios %}
                           {% for usuarios in usuarios %}
                           <input class="mt-2 form-control" name="autor1"
                                  placeholder="Autor" value="{{usuarios.nome}}">
                           {% endfor %}
                           {% else %}
                           <input class="mt-2 form-control" name="autor1"
                                  placeholder="Autor" aria-placeholder="Preencha um nome!" required>
                           {% endif %}

                       </div>
                   </div>
                </div>
                  <div class="card-footer">
                    <div class="form-group" align="right">

                        <button  class="btn mt-3 text-center text-white" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
                                   style="background:#ff4040;"
                         >
                           Voltar
                        </button>

                         <input type="submit" class="btn mt-3 text-white" value="Submeter"
                            style="background:#4B5F83;">

                     </form>

       <!--
        <div id="list">

        <form id="task-form">
        <input type="text" id="task-input" name="tarefa" />
        <button type="submit">Add</button>
        </form>
        <form method="POST" id="tasks" action="/teste/">{% csrf_token %}
            <input id="inputhidden" type="hidden" value="Cadastrar">
            <input id="inputcontagem" type="hidden" value="">
        </form>
        </div>    -->


                    <div id="list">
                    <form id="task-form">
                     <input class="form-control mt-3" placeholder="Nome do Autor"
                             type="text" id="task-input" name="tarefa" required />
                    <button type="submit"  class="btn mt-3 text-white"
                            style="background:#4B5F83;">Adicionar Autor</button>

                    </form>

        <form method="POST" id="tasks" action="/teste/">{% csrf_token %}
            <input id="inputhidden" type="hidden" value="Cadastrar">
            <input id="inputcontagem" type="hidden" value="">
        </form>


                    </div>




                    </div>
                    </div>
                        </div>
                    </div>


            </div>
            </div>
        </div>

                </main>


                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">


                            <div class="text-muted">Desenvolvido por G&L Plataformas</div>
                            <div>
                                <a href="#">Politica de Privacidade</a>
                                &middot;
                                <a href="#">Termos e Condições</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>


{% endblock %}

<style>
    .h-100 {
    height: 100%!important;
}
</style>
