{% extends 'base.html' %}
{% load static %}


{% block content %}

<div id="layoutSidenav_content" style="background:#e2e8f0;">

                <main>

                    <div class="container-fluid px-4">

                        <h1 class="mt-4" style="color:#4B5F83;">Usuários</h1>
                        {% if msg %}
                        <font color="red">Alerta:</font>{{msg}}
                        {% endif %}


                                <p class="mb-0 mt-3">




                                 <!-- tabelas iniciando aqui -->
                                <div class="card">
                                <div class="card-header text-white" style="background:#4B5F83;">
                                   Lista de usuários


                                </div>


                        <div class="card-body">


                                  <table class="table " id="datatablesSimple">
                                    <thead>
                                        <tr>
                                             <th class="text-center"><font size="2px">ID</font></th>
                                            <th class="text-center"><font size="2px">Nome</font></th>
                                            <th class="text-center"><font size="2px">E-Mail</font></th>
                                            <th class="text-center"><font size="2px">Instituição</font></th>
                                            <th class="text-center"><font size="2px">Ações</font></th>


                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                              <th class="text-center"><font size="2px">ID</font></th>
                                            <th class="text-center"><font size="2px">Nome</font></th>
                                            <th class="text-center"><font size="2px">E-Mail</font></th>
                                            <th class="text-center"><font size="2px">Instituição</font></th>
                                            <th class="text-center"><font size="2px">Ações</font></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>

                                            {% for todos in todos %}

                                         <tr class="text-center">
                                             <td><font size="2px">{{todos.id_usuario}}</font></td>

                                            <td>
                                                <font size="2px">{{todos.nome}}</font>
                                            </td>

                                            <td>
                                                <font size="2px">{{todos.email}}</font>
                                            </td>

                                             <td>
                                                <font size="2px">{{todos.instituicao}}</font>
                                            </td>

                                            <td>
                                                <a type="button"
                                                  data-toggle="modal"
                                                  data-target="#modalacao{{todos.id_usuario}}"
                                                  >

                                                   <img class="horario"
                                                        src={% static "assets/enggira.png" %} width="15" height="15" />
                                                </a>

<form method="POST" action="/editaruser/?id={{todos.id_usuario}}"> {% csrf_token %}
<div class="col-sm-12 modal fade" id="modalacao{{todos.id_usuario}}"
     tabindex="-1" role="dialog"
     aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-white" style="background:#4B5F83;">

        <h5 class="modal-title"
            id="TituloModalCentralizado">
            Ações
        </h5>
        <a type="button" class="close" data-dismiss="modal" aria-label="Fechar"
           style="background:#4B5F83;text-decoration:none;">
          <span  aria-hidden="true" class="text-white">&times;</span>
        </a>
      </div>
      <div class="modal-body text-center">

        <div class="form-group col-12 text-center">


            <label>Nome:</label>
            <input class="form-control col-5 mt-2"
                   name="nomeuser" value="{{todos.nome}}" required>
            <label class="mt-2">CPF:</label>
            <input class="form-control col-4 mt-2"
                   name="cpfuser"
                   value="{{todos.cpf}}" required>

            <label class="mt-2">Nascimento</label>
            {{todos.nascimento}}
            <input class="form-control col-4 mt-2" type="date"
                   name="nascimentouser" value="{{todos.nascimento}}"
                   >

            <label class="mt-2">E-mail</label>
            <input name="emailuser" type="email"
            value="{{todos.email}}" class="form-control col-4 mt-2">

            <label class="mt-2">Endereço</label>
            <input name="enderecouser" type="text"
            value="{{todos.endereco}}" class="form-control col-4 mt-2">

            <label class="mt-2">Cidade</label>
            <input name="cidadeuser" type="text"
            value="{{todos.cidade}}" class="form-control col-4 mt-2">

            <label class="mt-2">Bairro</label>
            <input name="bairrouser" type="text"
            value="{{todos.bairro}}" class="form-control col-4 mt-2">

            <label class="mt-2">País</label>
            <input name="paisuser" type="text"
            value="{{todos.pais}}" class="form-control col-4 mt-2">

            <label class="mt-2">Instituição</label>
            <input name="instuser" type="text"
            value="{{todos.instituicao}}" class="form-control col-4 mt-2">

            <label class="mt-2">Contato</label>
            <input name="contatouser" type="text"
            value="{{todos.contato}}" class="form-control col-4 mt-2">



            <input type="hidden" value="{{sessao.id}}" name="idsessao">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <input type="submit" class="btn text-white" style="background:#4B5F83;" value="Atualizar">
      </div>


    </div>

  </div>

</div>







      </div>
</form>


                                            </td>

                                        </tr>

                                            {% endfor %}

                                    </tbody>
                                </table>




                        </div>
                    </div>


                                <!-- tabela terminando aqui -->
                                </p>
                    </div>





                </main>

                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Desenvolvido por G&L Plataformas</div>
                            <div>
                                <a href="#">Politica de Privacidade</a>
                                &middot;
                                <a href="#">Termos e Condições</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

{% endblock %}
